.more {
    padding-top: 43px;
    padding-bottom: 33px;
    display: grid;
    justify-items: center;
    background-color: #202020;
}

.more-title {
    margin-bottom: 8px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #CACACA;
}

.more-social {
    width: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 20px;
    grid-template-areas: "inst fb vk";
}

.instagram {
    width: 29px;
    height: 29px;
    grid-area: inst;
    background-image: url('../img/instagram.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.fb {
    width: 29px;
    height: 29px;
    grid-area: fb;
    background-image: url('../img/fb.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.vk {
    width: 29px;
    height: 29px;
    grid-area: vk;
    background-image: url('../img/x.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}