.header-top {
    padding: 24px;
    background-color: #202020;
    display: flex;
    justify-content: space-between;
}

.header-bottom-more__list-top {
    display: none;
}

.header-top-search {
    width: 24px;
    background-image: url('../img/loop.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.header-bottom {
    padding: 16px 24px;
    background-color: #4A4A4A;
}

.header-bottom-more {
    width: 100%;
    height: 18px;
    background-image: url('../img/more.svg');
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
}

.header-bottom-more__list {
    display: none;
}

.header-bottom-more__item {
    font-size: 16px;
    color: #FFFFFF;
}

@media(min-width:768px) {
    .header-top img {
        height: 26px;
    }
    .header-bottom-more {
        background-image: none;
    }
    .header-bottom-more__list {
        display: flex;
        justify-content: space-between;
    }
}

@media(min-width: 1024px) {
    .header-bottom-more__list-top {
        display: flex;
        align-items: center;
        width: 70%;
        justify-content: space-between;
    }
    .header-bottom {
        display: none;
    }
}

@media (min-width: 1280px) {
    .header-top {
        padding: 22px 100px;
    }
}

@media (min-width: 1440px) {
    .header-top {
        padding: 22px 74px;
    }
}

@media (min-width: 1768px) {
    .header-top {
        padding: 22px 244px;
    }
}

@media (min-width: 1920px) {
    .header-top {
        padding: 22px 315px;
    }
}