header.header
	.header-top.container
		img(src="../img/Logo.svg" alt="logo")
		ul.header-bottom-more__list-top 
			li.header-bottom-more__item 
				a(href="#")  О студии
			li.header-bottom-more__item 
				a(href="#")  Наши проекты
			li.header-bottom-more__item 
				a(href="#")  Услуги
			li.header-bottom-more__item 
				a(href="#")  Мастер-классы
			li.header-bottom-more__item 
				a(href="#")  Контакты
		a(href="#").header-top-search
	.header-bottom.container
		.header-bottom-more
			ul.header-bottom-more__list 
				li.header-bottom-more__item 
					a(href="#")  О студии
				li.header-bottom-more__item 
					a(href="#")  Наши проекты
				li.header-bottom-more__item 
					a(href="#")  Услуги
				li.header-bottom-more__item 
					a(href="#")  Мастер-классы
				li.header-bottom-more__item 
					a(href="#")  Контакты
				 
			
