footer {
    display: grid;
    gap: 3px;
    justify-items: center;
    background-color: #4A4A4A;
}

.footer__info {
    display: none;
}

.more {
    width: 100%;
    padding-top: 43px;
    padding-bottom: 33px;
    display: grid;
    justify-items: center;
    background-color: #202020;
}

.more-title {
    margin-bottom: 8px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #CACACA;
}

.more-social {
    width: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 20px;
    grid-template-areas: "inst fb vk";
}

.instagram {
    width: 29px;
    height: 29px;
    grid-area: inst;
    background-image: url('../img/instagram.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.fb {
    width: 29px;
    height: 29px;
    grid-area: fb;
    background-image: url('../img/fb.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.vk {
    width: 29px;
    height: 29px;
    grid-area: vk;
    background-image: url('../img/vk.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.footer-container {
    padding: 16px 67px;
}

.footer-span {
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    color: #E9E9E9;
}

.footer-container .more {
    display: none;
}

.footer__span {
    display: flex;
    flex-direction: column;
    img {
        margin-bottom: 4px;
    }
}

@media(min-width:768px) {
    footer {
        background-color: #202020;
    }
    .footer-container {
        width: 100%;
        display: grid;
        grid-auto-columns: 1fr;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 30px 30px;
        grid-template-areas: "left-footer right-footer";
    }
    .more {
        display: none;
        padding: 0;
    }
    .more-title {
        font-size: 16px !important;
    }
    .footer__span {
        display: grid;
        align-content: space-between;
        grid-auto-columns: 1fr;
        grid-template-columns: 1fr;
        grid-template-rows: min-content min-content;
        grid-area: left-footer;
    }
    .footer__span img {
        height: 26px;
    }
    .footer-span {
        font-size: 14px;
    }
    .footer-container .more {
        display: block;
        width: 60%;
        margin-left: auto;
        grid-area: right-footer;
        background-color: transparent;
    }
}

@media(min-width: 1024px) {
    .footer-container {
        display: grid;
        grid-auto-columns: 1fr;
        grid-template-columns: 1fr 43% 20%;
        grid-template-rows: 1fr;
        gap: 0px 0px;
        grid-template-areas: "logo text right-footer";
    }
    .footer__span {
        grid-area: logo;
    }
    .footer__info {
        grid-area: text;
    }
    .footer__info {
        display: block;
        p:first-of-type {
            color: #CACACA;
        }
        p:last-of-type {
            color: #999999;
        }
    }
    .footer-container .more {
        width: 90%;
    }
}

@media(min-width: 1024px) {
    .footer-container {
        display: grid;
        grid-auto-columns: 1fr;
        grid-template-columns: 20% 1fr 20%;
        grid-template-rows: 1fr;
        gap: 0px 0px;
        grid-template-areas: "logo text right-footer";
    }
    .footer__info {
        justify-self: center;
        width: 49%;
    }
}

@media (min-width: 1280px) {
    .footer-container {
        padding: 22px 100px;
    }
}

@media (min-width: 1440px) {
    .footer-container {
        padding: 22px 74px;
    }
}

@media (min-width: 1768px) {
    .footer-container {
        padding: 22px 244px;
    }
}

@media (min-width: 1920px) {
    .footer-container {
        padding: 22px 315px;
    }
}