@font-face {
    font-family: 'TTFirsNeue';
    src: url('../fonts/TTFirsNeue-Regular.woff2') format('woff2');
    font-display: swap;
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: 'TTFirsNeue';
    src: url('../fonts/TTFirsNeue-Bold.woff2') format('woff2');
    font-display: swap;
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.woff2') format('woff2');
    font-display: swap;
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Bold.woff2') format('woff2');
    font-display: swap;
    font-style: normal;
    font-weight: bold;
}