.projects {
    padding-top: 63px;
}

.projects-title {
    margin-bottom: 14px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    color: #202020;
}

.projects__item {
    position: relative;
}

.projects__item img {
    width: 100%;
    margin-bottom: 15px;
}

.projects__item:not(:last-child) {
    margin-bottom: 30px;
}

.projects__span {
    padding: 6px 12px;
    position: absolute;
    top: 6px;
    right: 6px;
    background-color: #333333;
    font-size: 12px;
    font-family: 'Roboto';
    color: #FFFFFF;
}

.projects-paragraph {
    margin-bottom: 10px;
}

.razbor {
    display: flex;
    min-height: 430px;
    background-image: url('/img/razbor.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.razbor__span,
.zabvenie-span {
    display: inline-block;
    align-self: flex-end;
    padding: 6px 12px;
    top: 6px;
    right: 6px;
    background-color: #333333;
    font-size: 12px;
    font-family: 'Roboto';
    color: #FFFFFF;
}

.razbor__block {
    width: 100%;
    padding-top: 6px;
    padding-right: 6px;
    padding-bottom: 30px;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.projects__info-title {
    margin-bottom: 8px;
    font-size: 24px;
    font-weight: bold;
    color: #FFFFFF;
}

.info__projects {
    width: 80%;
    margin-bottom: 24px;
    font-family: 'Roboto';
    color: #FFFFFF;
    font-size: 14px;
}

.projects-date {
    padding-left: 16px;
    font-size: 12px;
    color: #999999;
    background-image: url('../img/calendar.svg');
    background-position: left center;
    background-repeat: no-repeat;
}

.info-date {
    padding-left: 16px;
    font-size: 12px;
    color: #FFFFFF;
    background-image: url('../img/calendar-white.svg');
    background-position: left center;
    background-repeat: no-repeat;
}

.zabvenie {
    display: flex;
    min-height: 422px;
    background-image: url('/img/zabvenie.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.zabvenie__block {
    width: 100%;
    padding-top: 6px;
    padding-right: 6px;
    padding-bottom: 30px;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.predmet__image-1024,
.predmet__text-1024 {
    display: none;
}

@media(min-width:768px) {
    .projects__list {
        display: grid;
        grid-auto-columns: 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 0.5fr 1fr 1fr 1fr;
        gap: 30px 30px;
        grid-template-areas: "top1 top1 top2 top2 top3 top3" "center center center center center center" "bottom-left bottom-left bottom-left bottom-right bottom-right bottom-right" "bottom bottom bottom bottom bottom bottom";
    }
    .projects__span {
        font-size: 14px;
    }
    .info__projects {
        width: auto;
        font-size: 16px;
        line-height: 22px;
    }
    .peizaj {
        max-width: 300px;
        grid-area: top1;
    }
    .portret {
        max-width: 300px;
        grid-area: top2;
    }
    .predmet {
        max-width: 300px;
        grid-area: top3;
    }
    .razbor {
        min-height: 300px;
        grid-area: center;
    }
    .razbor__span {
        font-size: 14px;
    }
    .zabvenie {
        min-height: 300px;
        grid-area: bottom;
    }
    .portret__woman {
        grid-area: bottom-right;
    }
    .retush {
        grid-area: bottom-left;
    }
    .zabvenie__info {
        width: 42.5%;
    }
    .projects__item img {
        width: -webkit-fill-available;
    }
    .projects__item:not(:last-child) {
        margin-bottom: 0;
    }
    .zabvenie__info {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

@media(min-width: 1024px) {
    .projects__list {
        display: grid;
        grid-auto-columns: 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 300px 1fr 1fr;
        gap: 25px 22px;
        grid-template-areas: "top1 top2 top3 top3" "center center center bottom-left" "bottom-right bottom bottom bottom";
    }
    .projects__item img {
        height: 190px;
    }
    .predmet {
        max-width: 100%;
    }
    .predmet__image,
    .predmet__text {
        display: none;
    }
    .predmet__image-1024,
    .predmet__text-1024 {
        display: block;
    }
}

@media (min-width: 1440px) {
    .projects__list {
        grid-template-columns: repeat(3, minmax(190px, 1fr)) repeat(2, minmax(300px, 1.5fr));
        grid-template-rows: repeat(2, 300px);
        gap: 30px;
        grid-template-areas: "top1 top2 top3 center center" "bottom bottom bottom bottom-left bottom-right";
    }
    .zabvenie__info {
        width: 58%;
    }
    .predmet .predmet__text-1024 {
        display: block;
        height: 64px;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        display: -webkit-box;
        overflow: hidden;
    }
    .predmet .predmet__text {
        display: none;
    }
    .projects-paragraph {
        height: 64px;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        display: -webkit-box;
        overflow: hidden;
    }
    .projects__info {
        height: 100%;
        display: flex;
        width: 50%;
        flex-direction: column;
    }
    .info__projects {
        margin-bottom: auto;
    }
}