section.projects.container
	h2.projects-title Наши проекты
	.projects__list
		.projects__item.peizaj
			img(src="/img/peizaj.jpg" width="480" height="320" alt="")
			span.projects__span.peizaj-span #пейзаж
			p.projects-paragraph Синтетически, смешаны с не уникальными данными до степени...
			span.projects-date 16 июня
		.projects__item.portret
			img(src="../img/portret.jpg", alt="")
			span.projects__span.portret-span #портрет
			p.projects-paragraph В своём стремлении улучшить опыт мы упускаем, что явные...
			span.projects-date 28 мая
		.projects__item.predmet
			img(src="../img/predmet.jpg", alt="").predmet__image
			img(src="../img/predmet1024.jpg", alt="").predmet__image-1024
			span.projects__span.predmet-span #предмет
			p.projects-paragraph.predmet__text Равным образом, высокое качество позиционных...
			p.projects-paragraph.predmet__text-1024 Равным образом, высокое качество позиционных высокотехнологичная концепция общественного уклада
			span.projects-date 14 мая
		.projects__item.razbor
			.razbor__block
				span.razbor__span #fuji
				.projects__info
					span.info-date.razbor-date 9 апреля
					h2.projects__info-title Семантический разбор
					p.info__projects В рамках спецификации современных стандартов, интерактивные прототипы
					button.btn.btn-about О проекте
		.projects__item.retush
			img(src="../img/retush.jpg", alt="")
			span.projects__span.predmet-span #ретушь
			p.projects-paragraph Как принято считать, многие известные личности и по сей день остаются уделом либералов...
			span.projects-date 28 мая
		.projects__item.portret__woman
			img(src="../img/portret_woman.jpg", alt="")
			span.projects__span.predmet-span #портрет
			p.projects-paragraph С учётом сложившейся международной обстановки, новая модель организационной...
			span.projects-date 14 мая
		.projects__item.zabvenie
			.zabvenie__block
				span.zabvenie-span #проектзабвение
				.projects__info.zabvenie__info
					.zabvenie__info__text
						span.info-date.zabvenie-date 20 марта
						h2.projects__info-title Забвение
						p.info__projects Играет важную роль в формировании глубокомысленных рассуждений
					button.btn.btn-about О проекте