section.hero.container
	.hero-item__neon
		.neon__block
			h3.neon__block-title #мастеркласс
			.neon__info
				p.info__master Мастер-класс от Игоря Робова
				h1 Неоновый фотосет 2.0 <br> 7 июля 20:00
				button.btn.btn-more Узнать больше
	.hero-item__work
		h3.hero-item__title Работы участников предыдущего мастер-класса
		ul.work__list
			li.work__item.item__woman-top
			li.work__item.item__woman-left
			li.work__item.item__woman-right