.hero-item__neon {
    height: 428px;
    margin-bottom: 30px;
    padding-top: 6px;
    padding-right: 6px;
    padding-bottom: 30px;
    padding-left: 30px;
    background-image: url("../img/neon.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    grid-area: right;
}

.neon__block {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}

.neon__block-title {
    padding: 6px;
    display: inline-block;
    align-self: flex-end;
    color: #FFFFFF;
    font-family: 'Roboto';
    font-size: 12px;
    background-color: #333333;
}

.info__master {
    margin-bottom: 10px;
    font-family: 'Roboto';
    color: #FFFFFF;
    font-size: 14px;
}

.neon__info {
    width: 93%;
}

.hero-item__title {
    margin-bottom: 16px;
    font-size: 16px;
    font-weight: bold;
}

.work__list {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 0.5fr;
    gap: 40px 20px;
    grid-template-areas: "item__woman-top item__woman-top" "item__woman-left item__woman-right";
}

.item__woman-top {
    min-height: 180px;
    grid-area: item__woman-top;
    background-image: url('/img/womentop.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.item__woman-left {
    min-height: 100px;
    grid-area: item__woman-left;
    background-image: url('/img/womenleft.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.item__woman-right {
    min-height: 100px;
    grid-area: item__woman-right;
    background-image: url('/img/woomenright.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media(min-width:768px) {
    .hero {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 30px 30px;
        grid-template-areas: "left right" "left right";
    }
    .hero-item__neon {
        height: auto;
        margin-bottom: 0;
        grid-area: left;
    }
    .neon__block-title {
        font-size: 14px;
    }
    .info__master {
        font-size: 16px;
    }
    h1 {
        font-size: 34px;
    }
    .hero-item__work {
        grid-area: right;
    }
    .hero-item__title {
        font-size: 22px;
    }
    .item__woman-left {
        min-height: 151px;
    }
}