section.about.container
		h2.about-title О студии
		.about-block
			p.about-text В рамках спецификации современных стандартов, интерактивные прототипы, инициированные исключительно синтетически, ограничены исключительно образом мышления. Предварительные выводы неутешительны: высокотехнологичная концепция общественного уклада требует от нас анализа соответствующих условий активизации! Следует отметить, что семантический разбор внешних противодействий  фиксирует необходимость распределения внутренних резервов и ресурсов. Безусловно, граница обучения кадров предоставляет широкие возможности для первоочередных требований. Повседневная практика показывает, что глубокий уровень погружения предполагает независимые способы реализации новых принципов формирования материально-технической и кадровой базы. Приятно, граждане, наблюдать, как явные признаки институционализации являются только методом политического участия и нарушающими общечеловеческие нормы этики.
			.about-block__image
			span.about-paragraph Подписаться на рассылку
			form(action="https://jsonplaceholder.typicode.com/posts" method="POST" novalidate="novalidate").about__form
				input(type="email" placeholder="E-mail" data-validate-field="email" name="email" id="email").about__input
				button.btn.btn-send Отправить