extends ../layout/layout.pug
block vars
	- var title = 'Главная';
block header
	include ../includes/header/header.pug
block main 
	include ../includes/main
block footer
	include ../includes/footer/footer.pug    
              
